<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="Conection"      
      connectionString="server=localhost;port=3306;database=EFCoreMySQL;user=root;password=1234" />
  </connectionStrings>
  <appSettings>
    <add key="PathPhoto" value="C:/Nova Pasta/"/>
    <add key="TempPathPhoto" value="C:/Nova Pasta/Temp/"/>
  </appSettings>
</configuration>